<% if signed_in? %>
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Работы на сегодня</h3>
  	</div>
  	<div class="panel-body">
  		<% if Event.active.count >0 %>
  			<%= render partial: "shared/show_events", locals: {events: Event.active} %>
  		<%else%>
  			Мероприятий не запланировано
  		<% end %>
  	</div>
  </div>


<div class="panel panel-default">
	<div class="panel-heading">
  	<h3 class="panel-title">Оборудование в работе</h3>
  </div>
	<div class="panel-body">
		<% Event.active.each do |event| %>
			<% if !event.reservations.find_by(reservable_type: "Hardware").nil? %>  
  			<%= render partial: "shared/show_reservable_hardwares", locals: {reserve: event.reservations.where(reservable_type: "Hardware"), show_user: true} %>
  		<% end %>
  	<% end %>
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
  	<h3 class="panel-title">Виртуальные машины в работе</h3>
  </div>
	<div class="panel-body">
		<% Event.active.each do |event| %>
			<% if !event.reservations.find_by(reservable_type: "Vm").nil? %>  
  			<%= render partial: "shared/show_reservable_vms", locals: {reserve: event.reservations.where(reservable_type: "Vm"), show_user: true} %>
  		<% end %>
  	<% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Поиск оборудования</h3>
  </div>
  <div class="panel-body">
  	<div id="hardware-lookup">
  	  <%= form_tag search_hardwares_path,remote: true, method: :get, id: "lookup-form" do %>
				<div class="form-group row no-padding text-center col-md-12">
    			<div class="col-md-10">
    				<%= text_field_tag :selection, params[:selection], placeholder: "Оборудование", autofocus: true,class: "form-control search-box input-lg" %>
    			</div>
    			<div class="col-md-2">
    				<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
    					<i class="fa fa-search"></i> Найти
    				<% end %>
    			</div>
    		</div>
  		<% end %>
  	</div>
  	<div id='results'>
  		<%= render partial: "hardwares/result" %>
    </div>				
  </div>
</div>


 
 
 
  
  
<% else %>

	<div class="center hero-unit">
	
		<h1>Добро пожаловать на портал отдела РСВУ</h1>
		<h2>
			Это домашняя страница портала отдела разработки СВУ
		</h2>

		<%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
	
	</div>
<% end %>
	
	
	

	

