<% provide(:title, @vm.name) %>

<h1><%= @vm.name %></h1>
<div class="row">
		<%=render 'shared/show_reservation' %>		
		<section>
			<div class="panel panel-default">
  			<div class="panel-heading">Пареметры виртуальной машины</div>
  			<div class="panel-body">
    			<div class="col-lg-6">
  					<br>
  					<p><b>Статус:</b> <%=Vm.powerstate_to_s(@vm.state)%></p>
  					<p><b>VM tools:</b> <%=Vm.tools_status_to_s(@vm.vmtools)%></p>
  					<p><b>Тип ОС:</b> <%=@vm.guest%></p>
 						<p><b>Время старта:</b> <%=@vm.boottime%></p>
 					</div>
  				<div class="col-lg-6">
  					<br>
  					<p><b>IP адрес:</b> <%=@vm.ip%></p>
  					<p><b>UUID:</b> <%=@vm.uuid%></p>
  					<p><b>Путь:</b> <%=@vm.path%></p>
  					<p><b>Описание:</b> <%=@vm.annotation%></p>
  							
  				</div>
    		
    		
    		
    		
 
    	
    		
    		
  			</div>
			</div>
			
			
			
				<div class="btn-group pull-right">
  			
  			<button type="button" class="btn btn-default"><%=link_to "Заказать",  new_vm_reservation_path(@vm) %></button>
  			
			</d iv>
		</section>
	</div>