<div class="col-lg-3"><%= link_to hardware.get_hardware_identificator, hardware%></div>
<div class="col-lg-3"><%= hardware.hardware_model.name %></div>

<% if hardware.parent_hardware %>
	<div class="col-lg-3"><%=link_to hardware.parent_hardware.get_hardware_full_name, hardware.parent_hardware%></div>
<% else %>
	<div class="col-lg-2"><%=hardware.location.name%></div>
<% end %>
<div class="col-lg-2"><%=hardware.place%></div>