<td><%= link_to hardware.get_hardware_identificator, hardware%></td>

<% if show_model %>
	<td><%= hardware.hardware_model.name %></td>
<% end %>

<% if show_number %>
	<td><%= hardware.serial_number%></td>
	<td><%= hardware.inv_number%></td>
<% end %>

<td>
	<% if hardware.parent_hardware %>
		<%=link_to hardware.parent_hardware.get_hardware_full_name, hardware.parent_hardware%>
	<% else %>
		<%=hardware.location.name%>
	<% end %>
</td>
