<ul>
	<% res_subject.reservations.active.each do |reserv| %>
 		<li>c <%=reserv.event.from_time.to_date%> по <%=reserv.event.to_time.to_date%> <%=reserv.event.name%> <%=reserv.event.user.firstname%> <%=reserv.event.user.lastname%></li>
 	<% end %>	
</ul>