<td><%= link_to hardware.get_hardware_identificator, hardware%></td>

<% if show_model %>
	<td><%= hardware.hardware_model.name %></td>
<% end %>

<% if show_number %>
	<td><%= hardware.serial_number%></td>
	<td><%= hardware.inv_number%></td>
<% end %>

<td>
	<%= hardware.get_hardware_location %>
	
</td>
