
<div class="container">




	<div class="panel panel-info">
 		<div class="panel-heading">Мероприятие</div>
  	<div class="panel-body">
  		
  			<div class="col-xs-12">
  				<%= form_for( @event, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  					<div class="form-group">
  						<%= f.text_field :name, :placeholder => "Проводимые работы" , class: "form-control"%>
   					</div>
   					<div class="form-group form-center">
	     				<div class="col-sm-6">
      					
      					<label class="control-label">Начало: </label>
      					<%= f.date_field :from_time, class: "form-control"%>
      					</div>
      				<div class="col-sm-6">
      					<label class="control-label">Окончание: </label>
      					<%= f.date_field :to_time, class: "form-control"  %>
      				</div>
      			</div>
      			<div class="form-group">
      				<div><%= f.submit "Сохранить", class: "btn btn-primary" %></div>
      			</div>
      	
					<% end %>
				</div>
			
		</div>
  </div>
</div>