<% if model_params.hardware_type.sparam1 %>
 	 <p><b><%= model_params.hardware_type.sparam1 %>: </b><%= model_params.sparam1 %></p>
<% end %>
<% if model_params.hardware_type.sparam2 %>
    <p><b><%= model_params.hardware_type.sparam2 %>: </b><%= model_params.sparam2 %></p>
<% end %>
<% if model_params.hardware_type.sparam3 %>
    <p><b><%= model_params.hardware_type.sparam3 %>: </b><%= model_params.sparam3 %></p>
<% end %>
<% if model_params.hardware_type.iparam1 %>
    <p><b><%= model_params.hardware_type.iparam1 %>: </b><%= model_params.iparam1 %></p>
<% end %>
<% if model_params.hardware_type.iparam2 %>
	<p><b><%= model_params.hardware_type.iparam2 %>: </b><%= model_params.iparam2 %></p>
<% end %>
<% if model_params.hardware_type.iparam3 %>
	<p><b><%= model_params.hardware_type.iparam3 %>: </b><%= model_params.iparam3 %></p>
<% end %>