<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse_ds">Хранилище</a>
      </h4>
    </div>
    <div id="collapse_ds" class="panel-collapse collapse">
      <div class="panel-body">
      	<% vmdatasources.each do |ds| %>
  				<div class="row">
  					<div class="col-lg-2">
  						<% if (ds.ds_accessible) %>
  							<span class="label label-success"><%=ds.ds_name%></span>
  						<% else %>
  							<span class="label label-danger"><%=ds.ds_name%></span>
  						<% end %>
  					</div>
  					<div class="col-lg-1">
  						<%=ds.ds_type%>
  					</div>
  					<div class="col-lg-4">
  						<%= render partial: "shared/show_vm_datastore", locals: {ds: ds} %>		
  					</div>		
  					<div class="col-lg-2">
  						<b>Резерв:</b> <%=Vmdatasource.readable_size(ds.ds_uncommited)%>
  					</div>
  					<div class="col-lg-2">
  						<b>Сверх:</b> <%=Vmdatasource.readable_size(ds.over_provisioned)%> <%=ds.overp_percent%> %
  					</div>
  				</div>
  			<% end %>
  	</div>
  </div>
</div>



