
<% if vms.count >0 %>

	<% vms.each do |vm| %>
		<div class="row">
			<div class="col-lg-4"><%=link_to vm.name, vm_path(vm)%></div>
			<div class="col-lg-3">
				<span class="label state-badge label-<%=Vm.powerstate_to_label(vm.state)%>"><%=Vm.powerstate_to_s(vm.state)%></span>
			</div>
			<div class="col-lg-3"><%= render partial: "shared/show_reserves_badge", locals: {res_subject: vm} %></div>
			<div class="col-lg-2">
				<% if (current_user.admin? || vm.user.nil? || vm.user==current_user ) %>
					<%=link_to "Заказать",  new_vm_reservation_path(vm), class: "btn btn-default"%>
  			<%end%>
			</div>
		</div>
	
	<%end%>	
<%end%>
	
	



  																