<% provide(:title, 'Виртуальный полигон') %>
<h1>Хосты esxi</h1>


<% @vmhosts.each do |vmhost| %>
  <div class="card">
   	<div class="card-header" id="headingOne">
       
  			<div class="row table">
    			<div class="col-md-2 col-sm-4 col-xs-12"><%=link_to vmhost.name,vmhost%></div>
    			<div class="col-md-2 col-sm-4 col-xs-12"><%=link_to vmhost.hardware.name,vmhost.hardware%></div>
    			<div class="col-md-1 col-sm-1 col-xs-12">
    				<%=vmhost.vms.where("state=1").count%>/<%=vmhost.vms.count%>
    			</div>
    			<div class="col-md-1 col-sm-1 col-xs-12"  >
    				<span class="label label-<%=Vmhost.powerstate_to_label(vmhost.powerState)%> load-badge"><%=Vmhost.powerstate_to_s(vmhost.powerState)%></span>
    			</div>
    			
    			<div class="col-md-1 col-sm-1 col-xs-12">
    				<%if vmhost.powerState > 0 %>  
    				  <% if vmhost.cpu_usage_percent > 90 %>
    						<span class="label label-danger load-badge">CPU <%='%-3.f' %  vmhost.cpu_usage_percent%>%</span>
    					<% elsif vmhost.cpu_usage_percent > 70 %>
    						<span class="label label-warning load-badge">CPU <%='%-3.f' %  vmhost.cpu_usage_percent%>%</span>
    					<% elsif vmhost.cpu_usage_percent > 1 %>
    						<span class="label label-success load-badge">CPU <%='%-3.f' %  vmhost.cpu_usage_percent%>%</span>
    					<% else %>
    						<span class="label label-success load-badge">CPU <%='%3.2f' %  vmhost.cpu_usage_percent%>%</span>
    					<% end %>
    				<%else%>
    					<span class="label label-default  load-badge">CPU <%='%-3.f' %  vmhost.cpu_usage_percent%>%</span>
    				<%end%>
    			</div>
    			<div class="col-md-1 col-sm-1 col-xs-12">
    				<%if vmhost.powerState > 0 %> 
    				  <% if vmhost.memory_free_percent > 90 %>
    						<span class="label label-danger  load-badge">RAM <%='%-3.f' %  vmhost.memory_free_percent%>%</span>
    					<% elsif vmhost.memory_free_percent > 70 %>
    						<span class="label label-warning  load-badge">RAM <%='%-3.f' %  vmhost.memory_free_percent%>%</span>
    					<% elsif vmhost.memory_free_percent > 1 %>
    						<span class="label label-success  load-badge">RAM <%='%-3.f' %  vmhost.memory_free_percent%>%</span>
    					<% else %>
    						<span class="label label-success  load-badge">RAM <%='%-3.2f' %  vmhost.memory_free_percent%>%</span>
    					<% end %>
    				<%else%>
    						<span class="label label-default  load-badge">RAM <%='%-3.f' %  vmhost.memory_free_percent%>%</span>
    				<%end%>		
    				
    			</div>
    			<div class="col-md-1 col-sm-1 col-xs-12">
    				<%if vmhost.powerState > 0 %> 
    				  <% if vmhost.get_freespace_percent < 10 %>
    						<span class="label label-danger  load-badge">HDD <%='%-3.f' %  vmhost.get_freespace_percent%>%</span>
    					<% elsif vmhost.memory_free_percent < 30 %>
    						<span class="label label-warning  load-badge">HDD <%='%-3.f' %  vmhost.get_freespace_percent%>%</span>
    					<% else %> 
    						<span class="label label-success  load-badge">HDD <%='%-3.2f' %  vmhost.get_freespace_percent%>%</span>
    	  			<% end%>		
    				<% end %>
    			</div>
    			
    			<div class="col-md-3 hidden-sm hidden-xs"><a href='http://<%= vmhost.hardware.ip_adr%>'><%= vmhost.hardware.ip_adr%></a></div>
    		</div>
    	
    </div>
    <div class="collapse" id="<%=vmhost.id%>">
  		<div class="card card-body">
  		</div>
  	</div>
  </div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Поиск</h3>
  </div>
  <div class="panel-body">
  	<div id="vm-lookup">
  	  <%= form_tag search_vms_path,remote: true, method: :get, id: "lookup-form" do %>
				<div class="form-group row text-center col-md-12">
    			<div class="col-md-10 no-right-padding">
    				<%= text_field_tag :selection, params[:selection], placeholder: "Виртуальные машины", autofocus: true,class: "form-control search-box input-lg" %>
    			</div>
    			<div class="col-md-2 no-left-padding">
    				<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
    					<i class="fa fa-search"></i> Найти
    				<% end %>
    			</div>
    		</div>
  		<% end %>
  	</div>
  	<div id='vm-lookup-results'>
  		<%= render partial: "vms/result" %>
    </div>				
  </div>
</div>

