<h1>Vmhosts#index</h1>
<p>Find me in app/views/vmhosts/index.html.erb</p>

<% @vmhosts_data.each do |child| %>

<% child.each do |x| %>
	<p><%=x.resourcePool.name%></p>
	Configured Memory <%=x.resourcePool.summary.configuredMemoryMB%>
	<% if !x.resourcePool.summary.quickStats.nil? %>
		Host Memory Usage <%=x.resourcePool.summary.quickStats.hostMemoryUsage%>
		Swapped Memory <%=x.resourcePool.summary.quickStats.swappedMemory%>
		OverAll CPU Usage <%=x.resourcePool.summary.quickStats.overallCpuUsage%>
	<% end %>
	Status <%=x.resourcePool.runtime.overallStatus%>
	Memory overallUsage <%=x.resourcePool.runtime.memory.overallUsage%>
	CPU overall usage <%=x.resourcePool.runtime.cpu.overallUsage%>
	
	
<% end %>

<%end%>