<% provide(:title, @vmhost.name) %>

<div class="panel panel-default">
	<div class="panel-heading">
    <div class=row>
  		<div class="col-lg-6">
  			<h3 class="panel-title"><%=@vmhost.name%></h3>
  		</div>
  		<div class="col-md-1 col-lg-offset-5">
  			<span class="label label-<%=Vmhost.powerstate_to_label(@vmhost.powerState)%> load-badge"><%=Vmhost.powerstate_to_s(@vmhost.powerState)%></span>
  		</div>
    			
    </div>
  </div>
  <div class="panel-body">
  	<div class="col-lg-6">
			<br>
			<p><b><%=@vmhost.vendor%> <%=@vmhost.model%></b></p>
			<p><b>CPU:</b> <%=@vmhost.cpu%> X <%=@vmhost.cpu_count%></p>
			<p><b>Ядер:</b> <%=@vmhost.cpu_core_count%> <b>Потоков:</b> <%=@vmhost.cpu_thread_count%></p>
			<p><b>Частота:</b> <%=@vmhost.cpu_ghz%> ГГц <b>Используется:</b> <%='%-3.1f' %  @vmhost.cpu_usage%> МГц (<%=@vmhost.cpu_usage_percent%>%)</p>
			<p><b>Память:</b> <%=@vmhost.memory_size%> Гб <b>Занято:</b> <%='%-3.f' %  @vmhost.memory_usage%> Мб (<%=@vmhost.memory_free_percent%>%)</p>
	
		</div>
		<div class="col-lg-6">
			<br>
			<p><b>ESXi:</b> <%=@vmhost.esxi_version%></p>
			<p><b>UUID:</b> <%=@vmhost.uuid%></p>
			
			<p><b>Описание:</b> <%=@vmhost.hardware_description%></p>
		</div>
  </div>
</div>		


<%= render partial: "resourcepools", object: @vmhost.vmresourcepools.where("parent_id is NULL OR parent_id < 0")%>


    				
    					
  					