<div class="row">
	<%=form_for(@hardware) do |f| %>
		<div class="col-md-6">
			<%=f.label :identificator, "Тип" %>
			<%=f.select(:hardware_type_id, HardwareType.all().pluck('name','id')) %>
			
			<%=f.label :hardware_model_id, "Модель" %>
			<%= f.collection_select(:hardware_model_id, HardwareModel.all, :id, :name) %>
			
			<%=f.label :parent_id, "Родительское устройство" %>
			<%= f.collection_select(:parent_id, Hardware.all, :id, :get_hardware_full_name, include_blank: true) %>
			
			<%=f.label :identificator, "Идентификатор" %>
			<%=f.text_field :identificator, class: 'form-control' %>

			<%=f.label :description, "Описание" %>
			<%=f.text_field :description, class: 'form-control' %>
			
			<%= f.label(:canBook, "Доступно для резерва") %>
			<%= f.check_box(:canBook) %>
			
			
			<%=f.label :status,"Статус" %>
		  	<%=f.select(:status,[['Сломан',-1],['Доступен',0],['Недоступен',1]])%>
			
			
			<%=f.label :serial_number, "Серийный №" %>
			<%=f.text_field :serial_number, class: 'form-control' %>
			<%=f.label :inv_number, "Инвентарный №" %>
			<%=f.text_field :inv_number, class: 'form-control' %>
			
			<%=f.label :location_id, "Размещение" %>
			<%=f.select(:location_id, Location.all().pluck('name','id')) %>
			<%=f.label :position, "Позиция  " %>
			<%= f.number_field(:position, in: 1..42, step: 1) %>
			<%=f.label :height, "Высота (U)" %>
			<%= f.number_field(:height, in: 1..42, step: 1) %>
			<%=f.label :el_power, "Эл. мощность (Вт)" %>
			<%= f.number_field(:el_power, in: 0..5000, step: 1) %>
		</div>	
			
		<div class="col-md-6">
			<%=f.label :ip_adr_adm, "Адм. IP (iLo) " %>
			<%=f.text_field :ip_adr_adm, class: 'form-control' %>
			
			<%=f.label :login, "Логин" %>
			<%=f.text_field :login, class: 'form-control' %>
			
			<%=f.label :password,"Пароль" %>
			<%=f.text_field :password, class: 'form-control' %>
			
			<%=f.label :ip_adr,"IP адрес " %>
			<%=f.text_field :ip_adr, class: 'form-control' %>
			
			<%=f.label :comment,"Коментарий" %>
			<%=f.text_area :comment,  size: "60x12" %>
			
			<% if @hardware.hardware_type %>
  			<% if !@hardware.hardware_type.sparam1.nil? %>
    			<%=f.label :sparam1, @hardware.hardware_type.sparam1 %>
  				<%=f.text_field :sparam1, class: 'form-control' %>
  			<%end%>
  			
  			<% if !@hardware.hardware_type.sparam2.nil? %>
    			<%=f.label :sparam2, @hardware.hardware_type.sparam2 %>
  				<%=f.text_field :sparam2, class: 'form-control' %>
  			<%end%>	
  			
  			<% if !@hardware.hardware_type.sparam3.nil? %>
    			<%=f.label :sparam3, @hardware.hardware_type.sparam3 %>
  				<%=f.text_field :sparam3, class: 'form-control' %>
  			<%end%>
  			
  			<% if !@hardware.hardware_type.iparam1.nil? %>
    			<%=f.label :iparam1, @hardware.hardware_type.iparam1 %>
  				<%=f.text_field :iparam1, class: 'form-control' %>
  			<%end%>
  			
  			<% if !@hardware.hardware_type.iparam2.nil? %>
    			<%=f.label :iparam2, @hardware.hardware_type.iparam2 %>
  				<%=f.text_field :iparam2, class: 'form-control' %>
  			<%end%>	
  			
  			<% if !@hardware.hardware_type.iparam3.nil? %>
    			<%=f.label :iparam3, @hardware.hardware_type.iparam3 %>
  				<%=f.text_field :iparam3, class: 'form-control' %>
  			<%end%>
  		<%end%>
		</div>
		<div class="col-md-12">
			<%=f.submit "Сохранить", class: "btn btn-primary pull-right"%>
		</div>
	<%end%>
</div>