<% provide(:title, @hardware.name) %>

<h1>Редактировать описание</h1>

<div class="row">
	<%=form_for(@hardware) do |f| %>
		<div class="col-md-6">
			<%=f.label "Название" %>
			<%=f.text_field :name, class: 'form-control' %>
			<%=f.label "Описание" %>
			<%=f.text_field :description, class: 'form-control' %>
			
			<%=f.label "Статус" %>
		  <%=f.select(:status,[['Сломан',-1],['Доступен',0],['Недоступен',1]])%>
			
			<%=f.label "Модель" %>
			<%=f.text_field :model, class: 'form-control' %>
			<%=f.label "ID модели" %>
			<%=f.text_field :model_number, class: 'form-control' %>
			<%=f.label "Серийный №" %>
			<%=f.text_field :serial_number, class: 'form-control' %>
			<%=f.label "Инвентарный №" %>
			<%=f.text_field :inv_number, class: 'form-control' %>
			<%=f.label "Метка" %>
			<%=f.text_field :identificator, class: 'form-control' %>
			<%=f.label "Позиция (сверху)" %>
			<%= f.number_field(:place, in: 1..20, step: 1) %>
			<%=f.label "Высота (U)" %>
			<%= f.number_field(:place, in: 1..42, step: 1) %>
			<%=f.label 'Эл. мощность (Вт)' %>
			<%= f.number_field(:place, in: 50..5000, step: 50) %>
		</div>	
			
		<div class="col-md-6">
			<%=f.label "Адм. IP (iLo) " %>
			<%=f.text_field :ip_adr_adm, class: 'form-control' %>
			
			<%=f.label "Логин" %>
			<%=f.text_field :login, class: 'form-control' %>
			
			<%=f.label "Пароль" %>
			<%=f.text_field :password, class: 'form-control' %>
			
			<%=f.label "IP адрес " %>
			<%=f.text_field :ip_adr, class: 'form-control' %>
			
			<%=f.label "Коментарий" %>
			<%=f.text_area :comment,  size: "60x12" %>
			
			<% if !@hardware.hardware_type.sparam1.nil? %>
  			<%=f.label @hardware.hardware_type.sparam1 %>
				<%=f.text_field :sparam1, class: 'form-control' %>
			<%end%>
			
			<% if !@hardware.hardware_type.sparam2.nil? %>
  			<%=f.label @hardware.hardware_type.sparam2 %>
				<%=f.text_field :sparam2, class: 'form-control' %>
			<%end%>	
			
			<% if !@hardware.hardware_type.sparam3.nil? %>
  			<%=f.label @hardware.hardware_type.sparam31 %>
				<%=f.text_field :sparam3, class: 'form-control' %>
			<%end%>
		</div>
		<div class="col-md-12">
			<%=f.submit "Сохранить", class: "btn btn-primary pull-right"%>
		</div>
	<%end%>
</div>
