<% provide(:title, 'Оборудование полигона') %>
<h1>Все оборудование</h1>



<table class="hardwares">
  <% @hardwares.each do |hardware| %>
    
			<tr>
				<td class="hardwares_name"><%= link_to hardware.name, hardware %></td>
				
				<% if hardware.hardware_reservations.occupied.count > 0 %>
					<td>Занято</td>
				<% else %>
					<td>Свободно</td>
				<% end %>
				<td class="hardwares_ident"><%=hardware.identificator%></td>
				<td class="hardwares_type"><%=hardware.hw_type%></td>
				<td class="hardwares_location"><%=hardware.hw_location%></td>
				<td><%=link_to "Зарезервировать", new_hardware_hardware_reservation_path(hardware) %></td>
			</tr>
		
    
    
  <% end %>
</table>