<% provide(:title, 'Оборудование полигона') %>
<h1>Все оборудование</h1>


<% @hardwares.each do |hardware| %>
  <div class="card">
   	<div class="card-header" id="headingOne">
      <div class="container"> 
  			<div class="row table">
    			<div class="col-lg-3"><%= link_to hardware.name, hardware %></div>
    			<div class="col-lg-2"><%=hardware.identificator%></div>
    			<div class="col-lg-2"><%=hardware.hardware_type.name%></div>
    			<div class="col-lg-2"><%=hardware.location.name%></div>
  				<div class="col-lg-2">
						
						<% if hardware.status.nil? || hardware.status < 0 %> <!-- оборудование сломано -->
							<div class="btn btn-default btn-block">
  							<span class="badge" >Сломано</span>
  						</div>
  					<% else %>
  						<% if hardware.status > 0 %>
  							<div class="btn btn-primary btn-block">
  								<span class="badge">Недоступно</span>
  							</div>
  						<% else %>
  							<%= render partial: "shared/show_reserves_badge", locals: {res_subject: hardware} %>
  						<% end %>
  					<% end %>
      		</div>
        	<div class="col-lg-1">
        		<% if hardware.status == 0 %>
        			<div class="btn btn-default">
        				<%=link_to "Заказать", new_hardware_reservation_path(hardware) %>
        			</div>
        		<% end %>
        	</div>
				</div>
      </div> 
    </div>
   	<div class="collapse" id="<%=hardware.id%>">
  		<div class="card card-body">
   	   	<%= render partial: "shared/show_reserves", locals: {res_subject: hardware} %>
 			</div>
		</div>
  </div>
<%end%>
		
