          <div class="panel panel-default">
          	<div class="panel-heading">
          		<h3 class="panel-title"><%=@hardware.hardware_model.hardware_type.name%> <b><%=@hardware.hardware_model.name%> [<%=@hardware.get_hardware_identificator%>]</b></h3>
          		<% if (@hardware.parent_hardware) %>
  							<p><b>Родительское утройство</b> <%=link_to @hardware.parent_hardware.get_hardware_full_name, @hardware.parent_hardware%></p>
  						<% end %>
          	</div>
            <div class="panel-body">
            	<ul class="nav nav-tabs">
  					<li class="active"><a href="#general" data-toggle="tab">Общие</a></li>
  					<li><a href="#about" data-toggle="tab">Параметры</a></li>
  					<li><a href="#model" data-toggle="tab">Модель</a></li>
            <li><a href="#access" data-toggle="tab">Доступ</a></li>
  					<li><a href="#hardware" data-toggle="tab">Оборудование</a></li>
  					<li><a href="#software" data-toggle="tab">ПО</a></li>
  					<li><a href="#message" data-toggle="tab">Сообщения</a></li>
            <li><a href="#groups" data-toggle="tab">Группы</a></li>
							</ul>
    					<section>
    			<div class="tab-content">
  					<div class="tab-pane active" id="general">
  						<div class="col-lg-6">
  							<br>
  							<p><b>Тип:</b> <%=@hardware.hardware_type.name%></p>
                <p><b>Модель:</b> <%=link_to @hardware.hardware_model.name,@hardware.hardware_model %></p>
                <p><b>Имя:</b> <%=@hardware.identificator%></p>
                <p><b>Размещение:</b><%= @hardware.get_hardware_location %></p>
                <p><b>Статус:</b> <%=@hardware.get_status%></p>
  							
  							
			
  							
  						</div>
  						<div class="col-lg-6">
  							<br>
  							<p><b>Серийный №:</b> <%=@hardware.serial_number%></p>
                <p><b>Инв. номер:</b> <%=@hardware.inv_number%></p>
  							<p><b>Описание:</b> <%=@hardware.description%></p>
  							
  						</div>
              <div class="col-lg-12">
                <pre><%=@hardware.comment%></pre>
              </div>
              <% if (current_user.admin?) %>
  								<div class="btn-group pull-right">
  									<%=link_to "Редактировать", edit_hardware_path(@hardware), class: "btn btn-default"   %>
  								</div>
  						<% end %>
  					</div>
  					<div class="tab-pane" id="model">
              <div class="col-lg-6">
                <p><b>Модель:</b> <%=link_to @hardware.hardware_model.name,
                    hardware_model_path(@hardware.hardware_model)%></p>
                <p><b>ID модели:</b> <%=@hardware.hardware_model.modelNo%></p>
              </div>
              <div class="col-lg-6">
                <%= render partial: "hardware_models/model_params", object: @hardware.hardware_model %>
              </div>
              <div class="col-lg-12">
                <pre><%=@hardware.hardware_model.comment%></pre>
              </div>
            </div>
  					<div class="tab-pane" id="about">
  						<div class="col-lg-6">
  							<br>
  							<% if !@hardware.hardware_type.sparam1.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam1%>:</b> <%=@hardware.sparam1%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.sparam2.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam2%>:</b> <%=@hardware.sparam2%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.sparam3.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam3%>:</b> <%=@hardware.sparam3%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam1.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam1%>:</b> <%=@hardware.iparam1%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam2.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam2%>:</b> <%=@hardware.iparam2%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam3.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam3%>:</b> <%=@hardware.iparam3%></p>
  							<%end%>
 							</div>
  						<div class="col-lg-6">
  							<br>
  							<p><b>Высота (U):</b> <%=@hardware.height%></p>
                <p><b>Эл. мощность (Вт):</b> <%=@hardware.el_power%></p>
                
  						</div>
  					</div>
  					<div class="tab-pane" id="access">
  						<div class="col-lg-6">
  							<br>
  							<p><b>IP адм.</b> <%=@hardware.ip_adr_adm%></p>
  							<p><b>IP сервера</b> <%=@hardware.ip_adr%></p>
  							<p><b>Пользователь:</b> <%=@hardware.login%></p>
  							<p><b>Пароль:</b> <%=@hardware.password%></p>
							</div>
  						<div class="col-lg-6">
  							<br>
  							
  						</div>
  					</div>
  					<div class="tab-pane" id="hardware">
  						<table class="table table-striped">	
  						 	<thead>
     							<tr>
        						<th>Позиция</th>
        						<th>Оборудование</th>
        						<th>ID</th>
        						<th>Тип</th>
        					</tr>
  							</thead>
  							<tbody>
      						<% @hardware.child_hardware.order(position: :desc).each do |h| %>
  									<tr>
          						<td><%=h.position%></td>
          						<td><%=link_to h.get_hardware_name,h%></td>
          						<td><%=h.get_hardware_identificator%></td>
          						<td><%=h.hardware_model.hardware_type.name%></td>
        						</tr>
      						<% end %>
  							</tbody>
							</table>
  						
							
  					</div>
  					<div class="tab-pane" id="software">
  						<table class="table table-striped">	
  						
  						<tbody>
  							<% @hardware.softwares.each do |s| %>
  								<tr>
  									<td><%=link_to s.software_type.get_full_name, hardware_software_path(@hardware, s)%></td>
  									<td>
  										<% if s.software_type.sparam1 && s.software_type.sparam1!=''%>
  											<b><%=s.software_type.sparam1%>:</b> <%=s.sparam1%>
  										<% end %>
  									</td>
  									<td>
  										<% if s.software_type.sparam2 && s.software_type.sparam2!='' %>
  											<b><%=s.software_type.sparam2%>:</b> <%=s.sparam2%>
  										<% end %>
  									</td>
  									<td>
  										<% if s.software_type.sparam3 && s.software_type.sparam3!=''%>
  											<b><%=s.software_type.sparam3%>:</b> <%=s.sparam3%>
  										<% end %>
  									</td>
  									<td>
  										<% if s.software_type.iparam1 &&s.software_type.iparam1!='' %>
  											<b><%=s.software_type.iparam1%>:</b> <%=s.iparam1%>
  										<% end %>
  									</td>
  									<td>
  										<% if s.software_type.iparam2 && s.software_type.iparam2!=''%>
  											<b><%=s.software_type.iparam2%>:</b> <%=s.iparam2%>
  										<% end %>
  									</td>
  									<td>
  										<% if s.software_type.iparam3 && s.software_type.iparam3!='' %>
  											<b><%=s.software_type.iparam3%>:</b> <%=s.iparam3%>
  										<% end %>
  									</td>
  								</tr>
  							<% end %>
  						</tbody>
  					</table>
  						
  							
  						
  						
  						<% if (current_user.admin?) %>
  								<%=link_to "Добавить",  new_hardware_software_path(@hardware), class: "btn btn-default pull-right" %>
  						<% end %>
  					</div>
  					<div class="tab-pane" id="message">
  						<%= render partial: "shared/show_user_messages", locals: {messages:  @hardware.user_messages} %>
  					</div>
            <div class="tab-pane" id="groups">
               <ul>
               	  <% @hardware.groups.each do |grp|%>
                    <li><b><%=grp.short_name%>:</b><%=grp.name%></li>
               	  <% end %>
                  
                   <%=link_to "Добавить",  new_hardware_group_relation_path(@hardware), class: "btn btn-default pull-right" %>
                  
            	 </ul>
              
            </div>
					</div>
  						</section>
  					</div>
  				</div>
          
    	<br>
			<div class="btn-group pull-right">
  			<%=link_to "Сообщение",  new_hardware_user_message_path(@hardware), class: "btn btn-default"  %>
  			<%=link_to "Назад",  hardwares_path, class: "btn btn-default"   %>
  			<%=link_to "Заказать", new_hardware_reservation_path(@hardware), class: "btn btn-default"   %>
  			
			</div>