<% provide(:title, @hardware.name) %>
<div class="row">
	
		<section>
			<h1>
				<%= @hardware.name %>
			</h1>
			<p><%= @hardware.description %></p>
			<%= render partial: "shared/show_reserves_panel", locals: {reservations:  @hardware.reservations} %>
			
			<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Параметры оборудования</h3>
  			</div>
  			<div class="panel-body">
    			<ul class="nav nav-tabs">
  					<li class="active"><a href="#general" data-toggle="tab">Общие</a></li>
  					<li><a href="#serial" data-toggle="tab">Описание</a></li>
  					<li><a href="#about" data-toggle="tab">Параметры</a></li>
  					<li><a href="#access" data-toggle="tab">Доступ</a></li>
  					<li><a href="#hardware" data-toggle="tab">Оборудование</a></li>
  					<li><a href="#software" data-toggle="tab">ПО</a></li>
  					<li><a href="#message" data-toggle="tab">Сообщения</a></li>
					</ul>
    			
    			<div class="tab-content">
  					<div class="tab-pane active" id="general">
  						<div class="col-lg-6">
  							<br>
  							<p><b>Тип:</b> <%=@hardware.hardware_type.name%></p>
  							<p><b>Статус:</b> <%=@hardware.get_status%></p>
  							<p><b>Название:</b> <%=@hardware.name%></p>
  							<p><b>Описание:</b> <%=@hardware.description%></p>
  						</div>
  						<div class="col-lg-6">
  							<br>
  							<p><b>Модель:</b> <%=@hardware.model%></p>
  							<p><b>ID Модели:</b> <%=@hardware.model_number%></p>
  							<p><b>Метка:</b> <%=@hardware.identificator%></p>
  							
  						</div>
  					</div>
  					<div class="tab-pane" id="serial">
  						<div class="col-lg-6">
  							<p><b>Серийный №:</b> <%=@hardware.serial_number%></p>
  							<p><b>Инв. номер:</b> <%=@hardware.inv_number%></p>
  							<p><b>Стойка:</b> <%=@hardware.location.name%></p>
  							<p><b>Позиция (сверху):</b> <%=@hardware.place%></p>
							</div>
							<div class="col-lg-6">
  							<p><b>Высота (U):</b> <%=@hardware.height%></p>
  							<p><b>Эл. мощность (Вт):</b> <%=@hardware.el_power%></p>
							</div>
  					</div>
  					<div class="tab-pane" id="about">
  						<div class="col-lg-6">
  							<br>
  							<% if !@hardware.hardware_type.sparam1.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam1%>:</b> <%=@hardware.sparam1%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.sparam2.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam2%>:</b> <%=@hardware.sparam2%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.sparam3.nil? %>
  								<p><b><%=@hardware.hardware_type.sparam3%>:</b> <%=@hardware.sparam3%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam1.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam1%>:</b> <%=@hardware.iparam1%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam2.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam2%>:</b> <%=@hardware.iparam2%></p>
  							<%end%>
  							<% if !@hardware.hardware_type.iparam3.nil? %>
  								<p><b><%=@hardware.hardware_type.iparam3%>:</b> <%=@hardware.iparam3%></p>
  							<%end%>
 							</div>
  						<div class="col-lg-6">
  							<br>
  							<pre><%=@hardware.comment%></pre>
  						</div>
  					</div>
  					<div class="tab-pane" id="access">
  						<div class="col-lg-6">
  							<br>
  							<p><b>IP адм.</b> <%=@hardware.ip_adr_adm%></p>
  							<p><b>IP сервера</b> <%=@hardware.ip_adr%></p>
  							<p><b>Пользоваетль:</b> <%=@hardware.login%></p>
  							<p><b>Пароль:</b> <%=@hardware.password%></p>
							</div>
  						<div class="col-lg-6">
  							<br>
  							<p><b>Инв. номер:</b> <%=@hardware.inv_number%></p>
  							<p><b>Метка:</b> <%=@hardware.identificator%></p>
  							<p><b>Стойка:</b> <%=@hardware.location.name%></p>
  							<p><b>Место:</b> <%=@hardware.place%></p>
  						</div>
  					</div>
  					<div class="tab-pane" id="hardware">
  						
  							<% @hardware.devices.each do |d| %>
  								
  									<div class="row">
  									<div class="col-lg-3"><b><%=d.device_type.name%></b> <%=d.name%></div>
  									<div class="col-lg-3">
  										<%=d.description%>
  										<%=d.comment%>
  									</div>
  									<div class="col-lg-4">
  									<% if !d.device_type.sparam1.nil? %>
  										<b><%=d.device_type.sparam1%>:</b> <%=d.sparam1%>
  									<% end %>
  									<% if !d.device_type.sparam2.nil? %>
  										<b><%=d.device_type.sparam2%>:</b> <%=d.sparam2%>
  									<% end %>
  									<% if !d.device_type.sparam3.nil? %>
  										<b><%=d.device_type.sparam3%>:</b> <%=d.sparam3%>
  									<% end %>
  									<% if !d.device_type.iparam1.nil? %>
  										<b><%=d.device_type.iparam1%>:</b> <%=d.iparam1%>
  									<% end %>
  									<% if !d.device_type.iparam2.nil? %>
  										<b><%=d.device_type.iparam2%>:</b> <%=d.iparam2%>
  									<% end %>
  									<% if !d.device_type.iparam3.nil? %>
  										<b><%=d.device_type.iparam3%>:</b> <%=d.iparam3%>
  									<% end %>
  									</div>
  									<% if (current_user.admin?) %>
  										<div class="col-lg-2">
  											<%= link_to "Редактировать", edit_hardware_device_path(@hardware, d) %>
  											<%= link_to "Удалить", hardware_device_path(@hardware, d), method: :delete, data: {confirm: "Вы уверены?"} %>
  										</div>
  									<% end %>
  									</div>
  										
  							<% end %>
  						
  						<% if (current_user.admin?) %>
  								<%=link_to "Добавить",  new_hardware_device_path(@hardware), class: "btn btn-default pull-right"%>
  						<% end %>
  					</div>
  					<div class="tab-pane" id="software">
  						<% @hardware.softwares.each do |s| %>
  							<div class="row">
  								<div class="col-lg-3">
  									<b><%=s.software_type.name%></b> <%=s.name%> 
  								</div>
  								<div class="col-lg-3">
  									<%=s.description%> <%=s.comment%>
  								</div>
  								<div class="col-lg-4">	
  									<% if !s.software_type.sparam1.nil? %>
  										<b><%=s.software_type.sparam1%>:</b> <%=s.sparam1%>
  									<% end %>
  									<% if !s.software_type.sparam2.nil? %>
  										<b><%=s.software_type.sparam2%>:</b> <%=s.sparam2%>
  									<% end %>
  									<% if !s.software_type.sparam3.nil? %>
  										<b><%=s.software_type.sparam3%>:</b> <%=s.sparam3%>
  									<% end %>
  									<% if !s.software_type.iparam1.nil? %>
  										<b><%=s.software_type.iparam1%>:</b> <%=s.iparam1%>
  									<% end %>
  									<% if !s.software_type.iparam2.nil? %>
  										<b><%=s.software_type.iparam2%>:</b> <%=s.iparam2%>
  									<% end %>
  									<% if !s.software_type.iparam3.nil? %>
  										<b><%=s.software_type.iparam3%>:</b> <%=s.iparam3%>
  									<% end %>
  								</div>
  								<div class="col-lg-2">	
  									<% if (current_user.admin?) %>
  										<%= link_to "Редактировать", edit_hardware_software_path(@hardware, s) %>
  										<%= link_to "Удалить", hardware_software_path(@hardware, s), method: :delete, data: {confirm: "Вы уверены?"} %>
  									<% end %>
  								</div>	
  							</div>
  						<% end %>
  						
  						<% if (current_user.admin?) %>
  								<%=link_to "Добавить",  new_hardware_software_path(@hardware), class: "btn btn-default pull-right" %>
  						<% end %>
  					</div>
  					<div class="tab-pane" id="message">
  						<%= render partial: "shared/show_user_messages", locals: {messages:  @hardware.user_messages} %>
  					</div>
					</div>
  			</div>
			</div>
			
			<div class="btn-group pull-right">
  			<%=link_to "Сообщение",  new_hardware_user_message_path(@hardware), class: "btn btn-default"  %>
  			<%=link_to "Назад",  hardwares_path, class: "btn btn-default"   %>
  			<%=link_to "Заказать", new_hardware_reservation_path(@hardware), class: "btn btn-default"   %>
  			<% if (current_user.admin?) %>
  				<%=link_to "Редактировать", edit_hardware_path(@hardware), class: "btn btn-default"   %>
  			<% end %>
			</div>
		
		</section>
	



	
</div>